@inject IJSRuntime JsRuntime;
@using Microsoft.AspNetCore.Components.Web

<div class="flex text-center justify-center place-content-evenly mt-7">
    <div class="chessboard select-none flex text-center justify-center">
        <div>
            <div class="item whiteCell" id="a8">
                <img draggable="true" class="rook" src="images/b_rook.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" id="a7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondrop="Drop" @ondragover="AllowDrop" />
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="a6"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="a5"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="a4"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="a3"></div>
            <div class="item whiteCell " @ondrop="Drop" @ondragover="AllowDrop" id="a2">
                <img draggable="true" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="a1">
                <img draggable="true" class="rook" src="images/w_rook.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="b8">
                <img draggable="true" class="knight" src="images/b_knight.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="b7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="b6"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="b5"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="b4"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="b3"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="b2">
                <img draggable="true" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="b1">
                <img draggable="true" class="knight" src="images/w_knight.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="c8">
                <img draggable="true" class="normalefiguren" src="images/b_bishop.png"@ondragstart="DragStart" @ondragend="DragEnd" />
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="c7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="c6"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="c5"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="c4"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="c3"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="c2">
                <img draggable="true" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="c1">
                <img draggable="true" class="normalefiguren" src="images/w_bishop.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="d8">
                <img draggable="true" class="normalefiguren" src="images/b_queen.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="d7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="d6"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="d5"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="d4"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="d3"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="d2">
                <img draggable="true" class="powns" src="images/w_pawn.png" />
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="d1">
                <img draggable="true" class="normalefiguren" src="images/w_queen.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="e8">
                <img draggable="true" class="normalefiguren" src="images/b_king.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="e7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="e6"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="e5"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="e4"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="e3"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="e2">
                <img draggable="true" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="e1">
                <img draggable="true" class="normalefiguren" src="images/w_king.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="f8">
                <img draggable="true" class="normalefiguren" src="images/b_bishop.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="f7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="f6"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="f5"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="f4"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="f3"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="f2">
                <img draggable="true" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="f1">
                <img draggable="true" class="normalefiguren" src="images/w_bishop.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="g8">
                <img draggable="true" class="knight" src="images/b_knight.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="g7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="g6"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="g5"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="g4"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="g3"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="g2">
                <img draggable="true" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="g1">
                <img draggable="true" class="knight" src="images/w_knight.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
        <div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="h8">
                <img draggable="true" class="rook" src="images/b_rook.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="h7">
                <img draggable="true" class="powns" src="images/b_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="h6"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="h5"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="h4"></div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="h3"></div>
            <div class="item blackCell" @ondrop="Drop" @ondragover="AllowDrop" id="h2">
                <img draggable="true" @ondrop="Drop" @ondragover="AllowDrop" class="powns" src="images/w_pawn.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
            <div class="item whiteCell" @ondrop="Drop" @ondragover="AllowDrop" id="h1">
                <img draggable="true" class="rook" src="images/w_rook.png" @ondragstart="DragStart" @ondragend="DragEnd"/>
            </div>
        </div>
    </div>
    <div class="backholder ml-24 flex flex-col text-center ">
        <h1 class="greengradient anton-regular">
            Play Chess<br />
            Online<br/>
            on the #1 Site!
        </h1>
        <div>
            <button @onclick="() => { PlayOnline = true;}" class="playOnline"><img width="72" height="2" src="images/online-icon.png"/>Play Online<br /><span>Play with a real person online!</span></button>
        </div>
        <div>
            <button class="playComputer"><img width="72" height="2" src="images/computer-icon.png" /> Computer<br /><span class="smalltextPlayComputer">Play vs training bots</span></button>
        </div>
    </div>
</div>
@if (PlayOnline == true)
{
    <div class="chooseTime flex flex-col">
        <div>
            <span @onclick="() => { PlayOnline = false; }" class="material-symbols-outlined fixed absolute select-none">cancel</span>
            <h1 class="greengradient ml-16">Choose a Time</h1>
        </div>
        <div class="ml-8">
            <div>
                <h2 class="anton-regular mt-5">Bullet</h2>
                <div class="flex justify-evenly">
                    <button @onclick="() => { SetButtonState(1);}" class="@((SelectedButton == 1) ? "selectedTimeShadow" : "")">1 Minutes</button>
                    <button @onclick="() => { SetButtonState(2);}" class="@((SelectedButton == 2) ? "selectedTimeShadow" : "")">1 | 1</button>
                    <button @onclick="() => { SetButtonState(3);}" class="@((SelectedButton == 3) ? "selectedTimeShadow" : "")">2 | 1</button>
                </div>

            </div>
            <div>
                <h2 class="anton-regular  mt-7">Blitz</h2>
                <div class="flex justify-evenly">
                    <button @onclick="() => { SetButtonState(4);}" class="@((SelectedButton == 4) ? "selectedTimeShadow" : "")">3 Minutes</button>
                    <button @onclick="() => { SetButtonState(5);}" class="@((SelectedButton == 5) ? "selectedTimeShadow" : "")">3 | 2</button>
                    <button @onclick="() => { SetButtonState(6);}" class="@((SelectedButton == 6) ? "selectedTimeShadow" : "")">5 Minutes</button>
                </div>

            </div>
            <div>
                <h2 class="anton-regular mt-7">Rapid</h2>
                <div class="flex justify-evenly">
                    <button @onclick="() => { SetButtonState(7);}" class="@((SelectedButton == 7) ? "selectedTimeShadow" : "")">10 Minutes</button>
                    <button @onclick="() => { SetButtonState(8);}" class="@((SelectedButton == 8) ? "selectedTimeShadow" : "")">15 | 10</button>
                    <button @onclick="() => { SetButtonState(9);}" class="@((SelectedButton == 9) ? "selectedTimeShadow" : "")">30 Minutes</button>
                </div>
            </div>
            <div class="playButton flex justify-center mt-14">
                <a class="flex text-center justify-center">Play</a>
            </div>
        </div>
    </div>

}


@code {
    public bool PlayOnline = false;
    int SelectedButton = 0;

    void SetButtonState(int buttonNumber)
    {
        if (SelectedButton != buttonNumber)
        {
            SelectedButton = buttonNumber;
        }
        else
        {
            SelectedButton = 0; 
        }
    }

    private void DragStart(DragEventArgs e)
    {
        string jsFunction = @"window.BlazorDragAndDrop.DragStart";
        JsRuntime.InvokeVoidAsync(jsFunction, e);
    }

    private void DragEnd(DragEventArgs e)
    {
        string jsFunction = @"window.BlazorDragAndDrop.DragEnd";
        JsRuntime.InvokeVoidAsync(jsFunction, e);
    }

    private void Drop(DragEventArgs e)
    {
        string jsFunction = @"window.BlazorDragAndDrop.Drop";
        JsRuntime.InvokeVoidAsync(jsFunction, e);
    }

    private void AllowDrop(DragEventArgs e)
    {
        string jsFunction = @"window.BlazorDragAndDrop.DragOver";
        JsRuntime.InvokeVoidAsync(jsFunction, e);
    }
}
